@mixin dark-theme {
	--c-text: hsl(0 0% 95%);
	--c-text-1: hsl(0 0% 85%);
	--c-text-2: hsl(0 0% 65%);
	--c-text-3: hsl(0 0% 45%);
	--c-bg: hsl(0 0% 4%);
	--c-bg-1: hsl(0 0% 8%);
	--c-bg-2: hsl(0 0% 12%);
	--c-bg-3: hsl(0 0% 16%);
	--c-bg-soft: hsl(0 0% 50% / 12%);
	--c-border: hsl(0 0% 20%);
	--c-bg-a50: hsl(0 0% 8% / 50%);
	--c-bg-a80: hsl(0 0% 8% / 85%);
	--c-primary: hsl(0 0% 60%);
	--c-primary-soft: hsl(0 0% 50% / 15%);
	--c-accent: hsl(0 0% 50%);
	--c-accent-2: hsl(0 0% 40%);
	--c-glow-primary: none;
	--c-glow-accent: none;
	--ld-bg-blur: hsl(0 0% 8% / 85%);
	--ld-bg-card: hsl(0 0% 10%);
	--ld-bg-active: var(--c-bg-2);
	--ld-shadow: hsl(0 0% 0% / 30%);
	--c-grid: transparent;
	--c-grid-dot: transparent;
}

:root,
.light {
	--hue-theme: 0deg;
	--c-text: hsl(0 0% 5%);
	--c-text-1: hsl(0 0% 15%);
	--c-text-2: hsl(0 0% 40%);
	--c-text-3: hsl(0 0% 65%);
	--c-bg: hsl(0 0% 100%);
	--c-bg-1: hsl(0 0% 97%);
	--c-bg-2: hsl(0 0% 94%);
	--c-bg-3: hsl(0 0% 90%);
	--c-bg-soft: hsl(0 0% 50% / 8%);
	--c-border: hsl(0 0% 88%);
	--c-bg-a50: hsl(0 0% 97% / 50%);
	--c-bg-a80: hsl(0 0% 97% / 85%);
	--c-primary: hsl(0 0% 30%);
	--c-primary-soft: hsl(0 0% 50% / 10%);
	--c-accent: hsl(0 0% 45%);
	--c-accent-2: hsl(0 0% 55%);
	--c-glow-primary: none;
	--c-glow-accent: none;
	--ld-bg-blur: hsl(0 0% 97% / 80%);
	--ld-bg-card: var(--c-bg);
	--ld-bg-active: var(--c-bg);
	--ld-shadow: hsl(0 0% 0% / 5%);
	--c-success: #4A8;
	--c-success-soft: #4A83;
	--c-warning: #D85;
	--c-warning-soft: #F93;
	--c-error: #D44;
	--c-error-soft: #F33;
	--c-grid: transparent;
	--c-grid-dot: transparent;

	color-scheme: only light;
}

.dark {
	@include dark-theme;

	color-scheme: dark;
}
