@mixin dark-theme {
	--c-text: hsl(var(--hue-theme) 15% 92%);
	--c-text-1: hsl(var(--hue-theme) 15% 82%);
	--c-text-2: hsl(var(--hue-theme) 10% 65%);
	--c-text-3: hsl(var(--hue-theme) 10% 48%);
	--c-bg: hsl(260deg 25% 10%);
	--c-bg-1: hsl(260deg 20% 12%);
	--c-bg-2: hsl(260deg 20% 16%);
	--c-bg-3: hsl(260deg 20% 20%);
	--c-bg-soft: hsl(var(--hue-theme) 60% 50% / 12%);
	--c-border: hsl(260deg 15% 24%);
	--c-bg-a50: hsl(260deg 20% 12% / 50%);
	--c-bg-a80: hsl(260deg 20% 12% / 85%);
	--c-primary: hsl(var(--hue-theme) 70% 70%);
	--c-primary-soft: hsl(var(--hue-theme) 70% 65% / 18%);
	--c-accent: hsl(200deg 55% 65%);
	--c-accent-2: hsl(310deg 50% 65%);
	--c-glow-primary: 0 0 12px hsl(var(--hue-theme) 70% 65% / 25%);
	--c-glow-accent: 0 0 12px hsl(200deg 55% 65% / 25%);
	--ld-bg-blur: hsl(260deg 20% 12% / 85%);
	--ld-bg-card: hsl(260deg 20% 14%);
	--ld-bg-active: var(--c-primary-soft);
	--ld-shadow: hsl(260deg 30% 6% / 50%);
	--c-bg-dot: hsl(260deg 20% 22%);
}

:root,
.light {
	--hue-theme: 345deg;
	--c-text: hsl(var(--hue-theme) 10% 12%);
	--c-text-1: hsl(var(--hue-theme) 5% 22%);
	--c-text-2: hsl(var(--hue-theme) 5% 42%);
	--c-text-3: hsl(var(--hue-theme) 5% 68%);
	--c-bg: hsl(var(--hue-theme) 20% 99%);
	--c-bg-1: hsl(var(--hue-theme) 25% 97%);
	--c-bg-2: hsl(var(--hue-theme) 20% 95%);
	--c-bg-3: hsl(var(--hue-theme) 15% 92%);
	--c-bg-soft: hsl(var(--hue-theme) 40% 60% / 12%);
	--c-border: hsl(var(--hue-theme) 15% 88%);
	--c-bg-a50: hsl(var(--hue-theme) 25% 97% / 50%);
	--c-bg-a80: hsl(var(--hue-theme) 25% 97% / 85%);
	--c-primary: hsl(var(--hue-theme) 70% 62%);
	--c-primary-soft: hsl(var(--hue-theme) 70% 68% / 15%);
	--c-accent: hsl(195deg 60% 55%);
	--c-accent-2: hsl(300deg 45% 60%);
	--c-glow-primary: 0 0 10px hsl(var(--hue-theme) 70% 60% / 15%);
	--c-glow-accent: 0 0 10px hsl(195deg 60% 55% / 15%);
	--ld-bg-blur: hsl(var(--hue-theme) 25% 97% / 85%);
	--ld-bg-card: hsl(var(--hue-theme) 20% 100%);
	--ld-bg-active: var(--c-bg);
	--ld-shadow: hsl(var(--hue-theme) 20% 75% / 25%);
	--c-success: #7AA;
	--c-success-soft: #7AA3;
	--c-warning: #E97;
	--c-warning-soft: #FCA3;
	--c-error: #E77;
	--c-error-soft: #F993;
	--c-bg-dot: hsl(var(--hue-theme) 15% 85%);

	color-scheme: only light;
}

.dark {
	@include dark-theme;

	color-scheme: dark;
}
